@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
    background-image: radial-gradient(#c3c3c3 0.5px, #ffffff 0.5px);
    background-size: 10px 10px;
    font: 'Beatrice Deck Trial';
}
