@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(#c3c3c3 0.5px, #ffffff 0.5px);
    background-size: 10px 10px;
    font-family: 'Inter', sans-serif;

}
